html {
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::before,
*::after {
  font-family: inherit;
}
body {
  margin: 0;
  font-size: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container > h1,
.header-container > h2 {
  margin: 0px;
}
.results-container {
  display: flex;
  justify-content: center;
}
.buttons-container {
  display: flex;
  justify-content: center;
}
button {
  font-size: 96px;
}
